// It's highly recommended to change the default colors
// to match your app's branding.

$primary: #027be3;
$secondary: #26a69a;
$accent: #9c27b0;

$dark: #1d1d1d;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

.text-lightprpl {
  color: #bfaff7 !important;
}
.bg-lightprpl {
  background: #bfaff7 !important;
}

.text-darkprpl {
  color: #5b5375 !important;
}
.bg-darkprpl {
  background: #5b5375 !important;
}

@import "~quasar-variables-styl";
