<template>
  <q-inner-loading showing>
    <q-spinner-hourglass :size="size" color="darkprpl" />
  </q-inner-loading>
</template>

<script>
export default {
  name: "LoadSpinner",
  props: {
    size: {
      type: String,
      required: true
    }
  }
};
</script>
