<template>
  <q-drawer
    v-model="drawerOpened"
    :width="200"
    :breakpoint="500"
    bordered
    class="bg-darkprpl text-white sidebar text-weight-bold text-subtitle1"
  >
    <q-scroll-area class="fit">
      <q-list>
        <template v-for="(menuItem, index) in links" :key="index">
          <q-item
            clickable
            :to="{ name: menuItem.url_name }"
            active-class="link-active"
            v-ripple
          >
            <q-item-section>
              {{ menuItem.title }}
            </q-item-section>
          </q-item>
          <q-separator :key="'sep' + index" v-if="menuItem.separator" />
        </template>
      </q-list>
    </q-scroll-area>
  </q-drawer>
</template>
<script>
export default {
  name: "SideBar",

  data() {
    return {
      drawerOpened: this.opened,
      links: [
        {
          url_name: "group-list",
          title: "Группы"
        },
        {
          url_name: "student-list",
          title: "Ученики"
        },
        {
          url_name: "user-list",
          title: "Пользователи"
        }
      ]
    };
  },

  props: {
    opened: {
      type: Boolean,
      required: true
    }
  },
  watch: {
    opened() {
      this.drawerOpened = this.opened;
    }
  }
};
</script>
<style scoped lang="scss">
.sidebar {
  font-size: 48px !important;
}
.link-active {
  background: #bfaff7 !important;
}
</style>
