<template>
  <q-header class="bg-darkprpl text-white">
    <q-toolbar>
      <q-btn dense flat round icon="menu" @click="toggleDrawer" />

      <q-toolbar-title align="right">
        <q-avatar square class="logo">
          <img src="@/assets/logo-white.svg" />
        </q-avatar>
      </q-toolbar-title>
      <div>
        <q-btn-dropdown no-caps flat dense>
          <template v-slot:label>
            <div class="row items-center no-wrap">
              <q-icon left size="26px" name="account_circle" />
              <div class="text-center text-weight-bold text-subtitle1">
                {{ user.first_name }}
              </div>
            </div>
          </template>
          <q-list>
            <q-item
              clickable
              :to="{ name: 'user-profile', params: { id: user.id } }"
            >
              <q-item-section>
                <q-item-label>Профиль</q-item-label>
              </q-item-section>
            </q-item>
            <q-item clickable @click="logout">
              <q-item-section>
                <q-item-label>Выйти</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </q-btn-dropdown>
      </div>
    </q-toolbar>
  </q-header>
</template>

<script>
export default {
  name: "TopBar",
  emits: {
    toggle: null
  },
  computed: {
    user() {
      return this.$store.getters.user;
    }
  },
  methods: {
    toggleDrawer() {
      this.$emit("toggle");
    },
    logout() {
      this.$store.dispatch("logoutClear");
      this.$router.push("/login");
    }
  }
};
</script>
<style scoped lang="scss">
.logo {
  width: 70px !important;
}
</style>
