<template>
  <div class="window-height window-width row justify-center items-center">
    <q-card class="card q-gutter-sm">
      <template v-if="!actionCompleted">
        <q-card-section class="card__header q-pb-xs">
          <p>
            Введите ваш e-mail<br />Мы вышлем на него ссылку для восстановления
            пароля
          </p>
        </q-card-section>
        <q-card-section class="card__form q-pt-xs">
          <q-form @submit="onSubmit" class="q-gutter-sm">
            <q-input
              v-model.trim="email"
              label="Email"
              outlined
              color="lightprpl"
              label-color="lightprpl"
              lazy-rules
              :rules="[$options.validators.required, $options.validators.email]"
            />
            <div>
              <q-btn
                :loading="btnLoading"
                :disabled="btnLoading"
                label="Восстановить пароль"
                type="submit"
                color="lightprpl"
              />
            </div>
          </q-form>
        </q-card-section>
      </template>
      <template v-else>
        <q-card-section class="card__header q-pb-xs">
          <p>
            На ваш email была выслана ссылка для восстановления пароля <br />
            Не забудьте проверить письмо в папках "Спам" и "Рассылки"
          </p>
        </q-card-section>
        <q-card-section>
          <q-btn
            label="На страницу входа"
            color="lightprpl"
            @click="$router.push('/login')"
          />
        </q-card-section>
      </template>
    </q-card>
  </div>
</template>

<script>
import { resetPassword } from "../api/backendservice";
import { required, email } from "../utils/validator";
export default {
  name: "Login",

  data() {
    return {
      email: "",
      actionCompleted: false,
      btnLoading: false
    };
  },

  validators: {
    email,
    required
  },

  methods: {
    async onSubmit() {
      this.btnLoading = true;
      const [status, data] = await resetPassword(this.email);
      this.btnLoading = false;
      if (status === "error") {
        this.$store.dispatch("handleError", data);
        return;
      }

      this.actionCompleted = true;
    }
  }
};
</script>
<style scoped lang="scss">
.card__header {
  color: #bfaff7;
  font-weight: bold;
  font-size: 18px;
  text-align: left;
}
</style>
