<template>
  <div class="window-height window-width row justify-center items-center">
    <q-card class="card q-pa-md">
      <q-card-section class="card__header">
        <img alt="logo" src="../assets/logo.svg" />
      </q-card-section>
      <q-card-section class="card__form">
        <q-form @submit="onSubmit" class="q-gutter-sm">
          <q-input
            v-model.trim="email"
            label="Email"
            outlined
            color="lightprpl"
            label-color="lightprpl"
            lazy-rules
            :rules="[$options.validators.required, $options.validators.email]"
          />

          <q-input
            v-model.trim="password"
            type="password"
            outlined
            color="lightprpl"
            label-color="lightprpl"
            label="Пароль"
            lazy-rules
            :rules="[$options.validators.required]"
          />

          <div>
            <q-btn
              :loading="btnLoading"
              :disabled="btnLoading"
              label="Войти"
              type="submit"
              color="lightprpl"
            />
          </div>
        </q-form>
      </q-card-section>
      <q-card-section class="auth__reset q-pt-xs">
        <router-link class="auth__reset" to="/forgot-password">
          Забыли пароль?</router-link
        >
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
import { authorize } from "../api/backendservice";
import { required, email } from "../utils/validator";

export default {
  name: "Login",

  data() {
    return {
      invalid: true,
      email: "",
      password: "",
      btnLoading: false
    };
  },

  validators: {
    email,
    required
  },

  methods: {
    // validations
    required(val) {
      return val.length > 0 || "Поле не должно быть пустым";
    },
    // end of validations

    async onSubmit() {
      this.btnLoading = true;
      const [status, data] = await authorize(this.email, this.password);
      this.btnLoading = false;
      if (status === "error") {
        this.$store.dispatch("handleError", data);
        return;
      }

      this.$router.push("/");
    }
  }
};
</script>
<style scoped lang="scss">
.auth__reset {
  color: #bfaff7;
  font-weight: bold;
  text-decoration: none;
  font-size: 1rem;
}
</style>
