<template>
  <div class="window-height window-width row justify-center items-center">
    <q-card class="card q-gutter-sm">
      <template v-if="!actionCompleted">
        <q-card-section class="card__header q-pb-xs">
          <p>
            Введите новый пароль и повторите его в поле "Подтверждение пароля"
          </p>
        </q-card-section>
        <q-card-section class="card__form q-pt-xs">
          <q-form @submit="onSubmit" class="q-gutter-sm">
            <q-input
              v-model.trim="password"
              type="password"
              label="Новый пароль"
              outlined
              color="lightprpl"
              label-color="lightprpl"
              lazy-rules
              :rules="[
                $options.validators.required,
                $options.validators.password
              ]"
            />
            <q-input
              v-model.trim="password_confirm"
              type="password"
              label="Подтверждение
            пароля"
              class="q-my-md"
              outlined
              color="lightprpl"
              label-color="lightprpl"
              lazy-rules
              :rules="[
                $options.validators.required,
                (val) => $options.validators.equalValues(val, password)
              ]"
            />
            <div>
              <q-btn
                :loading="btnLoading"
                :disabled="btnLoading"
                label="Изменить пароль"
                type="submit"
                color="lightprpl"
              />
            </div>
          </q-form>
        </q-card-section>
      </template>
      <template v-else>
        <q-card-section class="card__header q-pb-xs">
          <p>
            Ваш пароль был изменён <br />
            Теперь вы можете использовать новый пароль для входа на сайт
          </p>
        </q-card-section>
        <q-card-section>
          <q-btn
            label="На страницу входа"
            color="lightprpl"
            @click="$router.push('/login')"
          />
        </q-card-section>
      </template>
    </q-card>
  </div>
</template>

<script>
import { required, equalValues, password } from "../utils/validator";
import { resetPasswordConfirmation } from "../api/backendservice";
export default {
  name: "Login",

  data() {
    return {
      password: "",
      password_confirm: "",
      actionCompleted: false,
      btnLoading: false
    };
  },

  validators: {
    required,
    equalValues,
    password
  },

  methods: {
    async onSubmit() {
      this.btnLoading = true;
      const [status, data] = await resetPasswordConfirmation(
        this.password,
        this.$route.params.uid,
        this.$route.params.token
      );
      if (status === "error") {
        this.$store.dispatch("handleError", data);
        this.btnLoading = false;
        return;
      }
      this.btnLoading = false;
      this.actionCompleted = true;
    }
  }
};
</script>
<style scoped lang="scss">
.card__header {
  color: #bfaff7;
  font-weight: bold;
  font-size: 18px;
  text-align: left;
}
</style>
