<template>
  <div class="q-pa-md doc-container">
    <register-modal
      v-if="registerModalOpened"
      @modalClose="registerModalOpened = false"
    />
    <div v-if="isStaff" class="row justify-end">
      <q-btn
        class="text-weight-bold"
        color="darkprpl"
        text-color="white"
        icon="person_add"
        label="Зарегистрировать пользователя"
        @click="registerModalOpened = true"
      />
    </div>
    Hi
  </div>
</template>
<script>
import RegisterModal from "../components/RegisterModal";

export default {
  name: "UserListPage",
  components: {
    RegisterModal
  },
  data() {
    return {
      registerModalOpened: false
    };
  },
  computed: {
    isStaff() {
      return this.$store.getters.user.is_staff;
    }
  },
  methods: {}
};
</script>
