<template>
  <div>UserPage</div>
</template>
<script>
import { getUserById } from "../api/backendservice";

export default {
  name: "UserPage",
  data() {
    return {
      loading: true,
      user: null
    };
  },
  async mounted() {
    const [status, data] = await getUserById(this.$route.params.id);
    if (status === "error") {
      this.$store.dispatch("handleError", data);
      return;
    }
  }
};
</script>
