<template>
  <q-dialog :model-value="opened" @update:model-value="closeModal">
    <q-card>
      <q-card-section class="bg-darkprpl text-white">
        <div class="text-h6 text-weight-bold">
          Регистрация нового пользователя
        </div>
      </q-card-section>
      <q-form @submit="onSubmit">
        <q-card-section class="q-gutter-xs">
          <q-input
            v-model.trim="last_name"
            label="Фамилия"
            outlined
            color="lightprpl"
            label-color="lightprpl"
            lazy-rules
            :rules="[$options.validators.required]"
          />

          <q-input
            v-model.trim="first_name"
            label="Имя"
            outlined
            color="lightprpl"
            label-color="lightprpl"
            lazy-rules
            :rules="[$options.validators.required]"
          />

          <q-input
            v-model.trim="middle_name"
            label="Отчество"
            outlined
            color="lightprpl"
            label-color="lightprpl"
            class="q-mb-lg"
          />

          <q-input
            v-model.trim="email"
            label="Email"
            outlined
            color="lightprpl"
            label-color="lightprpl"
            lazy-rules
            :rules="[$options.validators.required, $options.validators.email]"
          />
          <q-select
            outlined
            v-model="position"
            :options="userPositions"
            emit-value
            map-options
            option-label="name"
            option-value="id"
            label="Должность"
            color="lightprpl"
            label-color="lightprpl"
            lazy-rules
            :rules="[(val) => val || 'Выберите должность из списка']"
          />
        </q-card-section>
        <q-card-actions align="right">
          <q-btn
            flat
            dense
            label="Отмена"
            class="bg-lightprpl text-weight-bold"
            text-color="white"
            v-close-popup
          />
          <q-btn
            type="submit"
            flat
            dense
            label="Зарегистрировать"
            class="bg-darkprpl text-weight-bold"
            text-color="white"
          />
        </q-card-actions>
      </q-form>
      <load-spinner v-if="loading" size="100px" />
    </q-card>
  </q-dialog>
</template>
<script>
import LoadSpinner from "../components/app/LoadSpinner";
import { required, email } from "../utils/validator";
import { getUserPositions, registerUser } from "../api/backendservice";

export default {
  name: "RegisterModal",
  components: {
    LoadSpinner
  },
  validators: {
    required,
    email
  },
  emits: {
    modalClose: null
  },
  data() {
    return {
      opened: true,
      loading: false,
      first_name: "",
      last_name: "",
      middle_name: "",
      email: "",
      position: null,
      userPositions: [],
      registerModalOpened: false
    };
  },

  async created() {
    this.loading = true;
    const [status, data] = await getUserPositions();
    if (status === "error") {
      this.$store.dispatch("handleError", data);
      return;
    }
    this.userPositions = data;
    this.loading = false;
  },

  computed: {
    isStaff() {
      return this.$store.getters.user.is_staff;
    }
  },
  methods: {
    closeModal() {
      this.$emit("modalClose");
    },

    async onSubmit() {
      this.loading = true;
      const [status, data] = await registerUser(
        this.email,
        this.first_name,
        this.last_name,
        this.middle_name,
        this.position
      );
      this.loading = false;
      if (status === "error") {
        this.$store.dispatch("handleError", data);
        return;
      }
      this.closeModal();
    }
  }
};
</script>
