<template>
  <div>
    <load-spinner v-if="loading" :showing="loading" size="200px" />
    <q-layout v-else view="hHh Lpr fff">
      <top-bar @toggle="toggleDrawer" />

      <side-bar :opened="drawerOpened" />

      <q-page-container>
        <router-view />
      </q-page-container>
    </q-layout>
  </div>
</template>

<script>
import TopBar from "../components/app/TopBar";
import SideBar from "../components/app/SideBar";
import LoadSpinner from "../components/app/LoadSpinner";

export default {
  name: "MainLayout",
  components: {
    TopBar,
    SideBar,
    LoadSpinner
  },

  data() {
    return {
      loading: false,
      drawerOpened: true
    };
  },

  async created() {
    this.loading = true;
    const status = await this.$store.dispatch("getUser");
    if (status === "error") {
      return;
    }
    this.loading = false;
  },
  methods: {
    toggleDrawer() {
      this.drawerOpened = !this.drawerOpened;
    }
  }
};
</script>
<style scoped lang="scss">
.sidebar {
  color: white !important;
}
.link-active {
  background: #bfaff7 !important;
}
</style>
